{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--{% if user.role == 1 %}
<h4>Welcome {{user.username}},You are a owner.</h4>
{% else %}
<h4>Welcome {{user.username}} ,You are a tenant.</h4>
{% endif %}-->
<div class="main-section">
   {% include 'includes/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <!-- LOad side bar here-->

                    {% include 'includes/o_sidebar.html' %}

                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h5 class="text-uppercase">Overview</h5>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-header">
                                                    Total Listings
                                            </div>
                                            <div class="card-body text-center">
                                                <a href="#"><h5 class="card-title">0</h5></a> 

                                            </div>
                                        </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="card-header">
                                                Pending Requests
                                        </div>
                                        <div class="card-body text-center">
                                        <a href="#"><h5 class="card-title">0</h5></a> 
                                        </div>
                                    </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-header">
                                            Active Listings
                                    </div>
                                    <div class="card-body text-center">
                                        <a href="#"><h5 class="card-title">0</h5></a> 

                                    </div>
                                </div>
                        </div>
                        <br>
                        <br>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="element-title has-border right-filters-row">
                                        <h5>Recent activity</h5>
                                         <table>
        <thead>
            <tr>
                <th>Property</th>
                <th>Tenant</th>
                <th>Payment Month</th>
                <th>Amount</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in recent_rent_payments %}
            <tr>
                <td>{{ payment.listing.listing_title }}</td>
                <td>{{ payment.tenant.username }}</td>
                <td>{{ payment.payment_month }}</td>
                <td>${{ payment.payment_amount }}</td>
                <td>{{ payment.payment_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/alerts.html' %}
{% endblock %}