{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-section">
  {% include 'includes/cover.html' %}
  <div class="page-section account-header buyer-logged-in">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <!-- LOad side bar here-->

                  {% include 'includes/t_sidebar.html' %}

              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <div class="user-dashboard loader-holder">
                      <div class="user-holder">
                          <h2>About yourself </h2>
                          <!-- Create listings Form Start -->
                         <hr>
                         <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> BACK</button>
                         <br><br>
                    
                     <form action="{% url 'place_request' listings.id %}" method="POST" enctype="multipart/form-data">
                       {% csrf_token %}
                      <div class="form-fields-set">
                              <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="field-holder">
                                          <label>Your full Name</label>
                                          {{form.full_name}}

                                         
                                        </div>  
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="field-holder">
                                      <label>Email</label>
                                      {{form.email}}

                                    
                                    </div>  
                              </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12">
                                      <div class="field-holder">
                                        <label>Message</label>
                                        {{form.message}}

                                        
                                      </div>  
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                  <div class="field-holder">
                                      <label>ID Proof</label>
                                      {{form.user_IDproof}}   
                                  </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="field-holder">
                                    <label>Address Proof</label>
                                    {{form.user_addressproof}}   
                                </div>
                            </div>
                              </div>

                        </div>

                      {% for field in form %}
                          {% if field.errors %}
                              {% for error in field.errors %}
                              <li style="color: red;">{{ error }}</li>
                              {%endfor %}
                          {% endif %}
                      {% endfor %}
                      <input type="submit" class="btn btn-info float-right" value="Request" >

                     </form>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock %}