<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if '/tenantDashboard/' == request.path or '/tenant/' == request.path %}active{% endif %}"><a href="{% url 'tenant' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li class="{% if '/profile/' in request.path %}active{% endif %}"><a href="{% url 'tprofile' %}"><i class="icon-build"></i>Profile Settings </a></li>
            <li><a href="{% url 'tenant_sent_requests' user_identifier=request.user.id %}"><i class="icon-menu5"></i>Requested Listings</a></li>
            <li class="{% if '/finalized_deals/' in request.path %}active{% endif %}"><a href="{% url 'tenant_finalized_deals' %}"><i class="icon-menu5"></i>Confirmed Listings</a></li>
        </ul>
    </div>
</div>