{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--{% if user.role == 1 %}
<h4>Welcome {{user.username}},You are a owner.</h4>
{% else %}
<h4>Welcome {{user.username}} ,You are a tenant.</h4>
{% endif %}-->
<div class="main-section">
    {% include 'includes/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <!-- LOad side bar here-->

                    {% include 'includes/o_sidebar.html' %}

                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h2>Profile settings</h2>
                            <!-- My Restaurants Form Start -->
                            <form action="{% url 'oprofile' %}" method="POST" enctype="multipart/form-data">
                               {% csrf_token %}
                                <div class="form-fields-set">
                                    <ul>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="restaurant-info">
                                                        <div class="img-holder">
                                                            <ul class="foodbakery-gallery-holder">
                                                                <li class="gal-img">
                                                                    <div class="drag-list">
                                                                        <div class="item-thumb">
                                                                            {% if profile.profile_picture %}
                                                                            <img class="thumbnail" src="{{profile.profile_picture.url}}" alt="Logo">
                                                                            {% else %}
                                                                            <img class="thumbnail" src="{% static 'images/default-profile.png' %}" alt="Logo">
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="text-holder">
                                                            <label>Update Profile picture</label>
                                                            <div class="upload-gallery">
                                                               {{profile_form.profile_picture}}
                                                            </div>
                                                        </div>
                                                        <label  class="text-danger">{{profile_form.profile_picture.errors}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="restaurant-info">
                                                        <div class="img-holder">
                                                            <ul class="foodbakery-gallery-holder">
                                                                <li class="gal-img">
                                                                    <div class="drag-list">
                                                                        <div class="item-thumb">
                                                                            {% if profile.cover_photo %}
                                                                            <img class="thumbnail" src="{{profile.cover_photo.url}}" alt="coverphoto">
                                                                            {% else %}
                                                                            <img class="thumbnail" src="{% static 'images/default-cover.png' %}" alt="coverphoto">
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="text-holder">
                                                            <label>Update Cover Photo</label>
                                                            <div class="upload-gallery">
                                                                {{profile_form.cover_photo}}
                                                            </div>
                                                            
                                                        </div>
                                                        <label  class="text-danger">{{profile_form.cover_photo.errors}}</label>

                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="restaurant-info">
                                                        <div class="img-holder">
                                                            <ul class="foodbakery-gallery-holder">
                                                                <li class="gal-img">
                                                                    <div class="drag-list">
                                                                        <div class="item-thumb">
                                                                            <img class="thumbnail" src="{{owner.owner_ID.url}}" alt="ownerid">
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="text-holder">
                                                            <label>ID</label>
                                                            <div class="upload-gallery">
                                                                {{owner_form.owner_ID}}
                                                            </div>
                                                            
                                                        </div>
                                                        <label  class="text-danger">{{owner_form.owner_ID.errors}}</label>

                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="restaurant-info">
                                                        <div class="img-holder">
                                                            <ul class="foodbakery-gallery-holder">
                                                                <li class="gal-img">
                                                                    <div class="drag-list">
                                                                        <div class="item-thumb">
                                                                            <img class="thumbnail" src="{{owner.owner_addressproof.url}}" alt="addressproof">
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="text-holder">
                                                            <label>Address Proof</label>
                                                            <div class="upload-gallery">
                                                                {{owner_form.owner_addressproof}}
                                                            </div>
                                                            
                                                        </div>
                                                        <label  class="text-danger">{{owner_form.owner_addressproof.errors}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Fullname</label>
                                                       {{ owner_form.owner_fullname }}

                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Address</label>
                                                        {{profile_form.address}}
                                                        <small class="text-muted float-right">powered by Google</small>
                                                    </div>
                                                </div>
                                              
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Country</label>
                                                        {{profile_form.country}}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>State</label>
                                                        {{profile_form.state}}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Pincode</label>
                                                        {{profile_form.pin_code}}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Latitude</label>
                                                        {{profile_form.latitude}}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label>Longitude</label>
                                                        {{profile_form.longitude}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div>
                                        <div class="field-holder">
                                            <div class="payment-holder input-button-loader">
                                                <input type="submit" value="Update profile" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    initAutoComplete();
</script>
{% include 'includes/alerts.html' %}
{% endblock %}