{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--{% if user.role == 1 %}
<h4>Welcome {{user.username}},You are a owner.</h4>
{% else %}
<h4>Welcome {{user.username}} ,You are a tenant.</h4>
{% endif %}-->
<div class="main-section">
    {% include 'includes/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <!-- LOad side bar here-->

                    {% include 'includes/o_sidebar.html' %}

                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                      <h1>Received Requests for listings</h1>
                      <div class="row">
                        {% for request in received_requests %}
                          <div class="col-md-6 mb-4">
                            <div class="card {% if request.is_ownerrejected %}border-danger{% elif request.is_ownerapproved %}border-success{% else %}border-secondary{% endif %}" style="border-width: 10px;">
                              <div class="card-body">
                                <h5 class="card-title">Name:{{ request.full_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Listing:{{ request.listing.listing_title }}</h6>
                                <div class="img-container" style="width: 100%; height: 300px; overflow: hidden;">
                                  <a href="#">
                                    <img src="{{request.listing.image1.url}}" alt="Image" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                  </a>
                                </div>
                                <hr>
                                <p class="card-text">
                                  <textarea class="form-control" rows="4" readonly>{{ request.message }}</textarea>
                              </p>                                <hr>
                                <p class="card-text">
                                  {% if request.is_ownerapproved %}
                                      Owner Status: You have Approved it.
                                     
                                  {% elif request.is_ownerrejected %}
                                      Owner Status: You have Rejected it.
                                  {% else %}
                                      Owner Status: Awaiting your action
                                  {% endif %}
                           <hr>
                                  {% if request.is_adminapproved %}
                                      | Admin Status: Approved
                                  {% elif request.is_adminrejected %}
                                      | Admin Status: Rejected
                                  {% else %}
                                      | Admin Status: Pending
                                  {% endif %}
                                      <hr>
                              </p>
                                <p class="card-text">Request Sent At: {{ request.created_at }}</p>
                                <div class="d-flex justify-content-between">
                                  <form method="post" action="{% url 'approve_request' request.id %}">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-success">Approve</button>
                                  </form>
                                  <form method="post" action="{% url 'reject_request' request.id %}">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-danger">Reject</button>
                                  </form>
                              </div>
                              </div>
                            </div>
                          </div>
                          
                        {% endfor %}
                      </div>
                      <div class="pagination">
                        <span class="step-links">
                          {% if received_requests.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ received_requests.previous_page_number }}">previous</a>
                          {% endif %}
                      
                          <span class="current-page">
                            Page {{ received_requests.number }} of {{ received_requests.paginator.num_pages }}.
                          </span>
                      
                          {% if received_requests.has_next %}
                            <a href="?page={{ received_requests.next_page_number }}">next</a>
                            <a href="?page={{ received_requests.paginator.num_pages }}">last &raquo;</a>
                          {% endif %}
                        </span>
                      </div>
            
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
  initialize();
</script>
{% include 'includes/alerts.html' %}
{% endblock %}